.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
}

.img {
    width: 200px;
    height: 200px;
}

.availability {
    color: green;
}

.div {
    display: grid;
    width: 250px;
    height: 350px;
    margin: 8px;
    padding: 10px;
    z-index: 2;
    border-radius: 20px;
    box-shadow: 0px 4px 31px rgb(251, 235, 235);

    background: rgb(251, 241, 241);
    & .arrow {
        position: relative;
        left: 85%;
        bottom: 24%;
    }
}

.ellipse {
    position: absolute;
    top: -60px;
    right: -170px;
    z-index: 1;
}

.h1 {
    padding: 20px;
}
