.Menu {
    width: 100vw;
    height: 100px;
    padding-left: 80px;
    background-color: white;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    place-items: center;
    column-gap: 20px;
    list-style-type: none;
}

.logo {
    width: 50px;
    height: 50px;

    grid-auto-columns: 65px;
}

.shopName {
    display: grid;
    place-items: start;

    & .name {
        place-self: end start;
        font-weight: bold;
        color: rgb(55, 76, 203);
    }
}

.section {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.phone {
    font-weight: bold;
}

.button {
    width: max-content;
    border-radius: 20px;
    color: orange;
    border: 1px solid orange;
    padding: 7px;
}

.price {
    font-weight: bold;
}

.point {
    width: 5px;
    height: 5px;
}
