.img {
    width: 200px;
    height: 200px;
}

.availability {
    color: green;
}
.div {
    display: grid;
    width: 250px;
    height: 350px;
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 31px rgb(251, 235, 235);
    text-decoration: none;
    color: black;
    background: rgb(251, 241, 241);
    & .arrow {
        position: relative;
        left: 85%;
        bottom: 24%;
    }
}
